# docker-compose.yaml

version: '{{ docker_compose_version }}'
services: 

{% for server in servers %}

  {{ server.name }}:
    image: didstopia/starbound-server
    ports:
      - {{ server.port }}:21025
    environment:
      - STEAM_USERNAME={{ steam_username }}
      - STEAM_PASSWORD={{ steam_password }}
    volumes:
      - {{ directories_files }}/{{ server.name }}:/steamcmd/starbound
      #- {{ directories_files }}/{{ server.name }}/starbound_server.config:/steamcmd/starbound/starbound_server.config

{% endfor %}
